/* NAVBAR */

.navbar {
  background-color: #9EC8B9;
  padding: 2rem 4rem 2rem 4rem;
}

.navbar .container-fluid {
  justify-content: center;
}

.navbar-nav {
  flex-direction: row;
  gap: 8px;
}

.nav-link {
  padding: 0.25rem;
  margin: 0.25rem;
}

.bi {
  font-size: 48px;
}

.bi-github {
  color: #277978;
}

.bi-github:hover {
  color: #096568;
}

.nav-link:not(.ext-link):hover {
  color: #1E1E1E !important;
}

.nav-link.active, .nav-link.active:hover {
  color: #F9F9F9 !important;
  background-color: #096568 !important;
  border-radius: 8.45px;
}

/* HERO */

#hero {
  max-height: 100%;
  height: 1430px;
  width: 100%;
  position: relative;
  background: url('../content/hero-sm.png') no-repeat top / contain, 
              url('../content/mockscreen-sm.png') no-repeat center / contain,
              url('../content/freeform_bg.svg') no-repeat 5% -5% / cover;
  z-index: -1;
}

h1 {
  font-size: 36px;
  width: 50vw;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 16px;
  line-height: 170%;
  padding: 6rem 2rem 4rem 2rem;
  margin: -64rem 0 0 0;
}

h2 {
  font-size: 36px;
  text-transform: capitalize;
}

h3 {
  font-size: 32px;
}

#desc .container > div {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 576px) {
  .navbar{
    padding: 5rem 6rem 5rem 6rem;
  }

  .navbar .container-fluid {
    justify-content: space-between;
  }
  
  #hero {
      height: 682px;
      background: url('../content/hero-md.png') no-repeat 0% -14% / contain, 
                url('../content/freeform_bg.svg') no-repeat 5% -5% / cover;
  }

  h1 {
    font-size: 48px;
    letter-spacing: 20px;
    padding: 56rem 4rem 4rem 4rem;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 42px;
  }

  #desc {
    margin: -14rem 0 0 0;
  }

  #desc .container div:first-child {
    width: 80vw;
  }

  #desc .container div:nth-child(2) {
    margin-top: -5rem;
    margin-left: 2.5rem;
  }
}

@media all and (min-width: 1200px) {
  #hero {
    height: 1337px;
    background: url('../content/hero-lg.png') no-repeat top / 90%, 
                url('../content/freeform_bg.svg') no-repeat center / cover;
  }

  h1 {
    font-size: 72px;
    width: 200px;
    letter-spacing: 24px;
    padding: 10rem 0 24rem 12rem;
    margin: 0;
  }

  h2 {
    font-size: 56px;
  }

  h3 {
    font-size: 48px;
  }

  #desc {
    margin: -20rem 0 0 -10rem;
  }

  #desc .container div:first-child {
    width: 50vw;
  }

  #desc .container div:nth-child(2) {
    margin-left: 20vw;
    width: 80vw;
  }

}

/* FONTS */

.roboto-regular {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
